
noun {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--noun-bg, #d5d7e0);
  background-size: cover;
  background-image: var(--noun-glasses, url("./traits/4/glasses-hip-rose.svg")), var(--noun-head, url("./traits/3/head-aardvark.svg")), var(--noun-accessory, url("./traits/2/accessory-1n.svg")), var(--noun-body, url("./traits/1/body-bege-bsod.svg"));
}

/* BACKGROUNDS
================================== */
noun[background="cool"], noun[background="0"] { --noun-bg: #d5d7e0; }
noun[background="warm"], noun[background="1"] { --noun-bg: #dfd7d5; }

/* BODIES
================================== */
noun[body="bege-bsod"], noun[body="0"] { --noun-body: url("./traits/1/body-bege-bsod.svg"); }
noun[body="bege-crt"], noun[body="1"] { --noun-body: url("./traits/1/body-bege-crt.svg"); }
noun[body="blue-sky"], noun[body="2"] { --noun-body: url("./traits/1/body-blue-sky.svg"); }
noun[body="bluegrey"], noun[body="3"] { --noun-body: url("./traits/1/body-bluegrey.svg"); }
noun[body="cold"], noun[body="4"] { --noun-body: url("./traits/1/body-cold.svg"); }
noun[body="computerblue"], noun[body="5"] { --noun-body: url("./traits/1/body-computerblue.svg"); }
noun[body="darkbrown"], noun[body="6"] { --noun-body: url("./traits/1/body-darkbrown.svg"); }
noun[body="darkpink"], noun[body="7"] { --noun-body: url("./traits/1/body-darkpink.svg"); }
noun[body="foggrey"], noun[body="8"] { --noun-body: url("./traits/1/body-foggrey.svg"); }
noun[body="gold"], noun[body="9"] { --noun-body: url("./traits/1/body-gold.svg"); }
noun[body="grayscale-1"], noun[body="10"] { --noun-body: url("./traits/1/body-grayscale-1.svg"); }
noun[body="grayscale-7"], noun[body="11"] { --noun-body: url("./traits/1/body-grayscale-7.svg"); }
noun[body="grayscale-8"], noun[body="12"] { --noun-body: url("./traits/1/body-grayscale-8.svg"); }
noun[body="grayscale-9"], noun[body="13"] { --noun-body: url("./traits/1/body-grayscale-9.svg"); }
noun[body="green"], noun[body="14"] { --noun-body: url("./traits/1/body-green.svg"); }
noun[body="gunk"], noun[body="15"] { --noun-body: url("./traits/1/body-gunk.svg"); }
noun[body="hotbrown"], noun[body="16"] { --noun-body: url("./traits/1/body-hotbrown.svg"); }
noun[body="magenta"], noun[body="17"] { --noun-body: url("./traits/1/body-magenta.svg"); }
noun[body="orange-yellow"], noun[body="18"] { --noun-body: url("./traits/1/body-orange-yellow.svg"); }
noun[body="orange"], noun[body="19"] { --noun-body: url("./traits/1/body-orange.svg"); }
noun[body="peachy-a"], noun[body="20"] { --noun-body: url("./traits/1/body-peachy-a.svg"); }
noun[body="peachy-B"], noun[body="21"] { --noun-body: url("./traits/1/body-peachy-B.svg"); }
noun[body="purple"], noun[body="22"] { --noun-body: url("./traits/1/body-purple.svg"); }
noun[body="red"], noun[body="23"] { --noun-body: url("./traits/1/body-red.svg"); }
noun[body="redpinkish"], noun[body="24"] { --noun-body: url("./traits/1/body-redpinkish.svg"); }
noun[body="rust"], noun[body="25"] { --noun-body: url("./traits/1/body-rust.svg"); }
noun[body="slimegreen"], noun[body="26"] { --noun-body: url("./traits/1/body-slimegreen.svg"); }
noun[body="teal-light"], noun[body="27"] { --noun-body: url("./traits/1/body-teal-light.svg"); }
noun[body="teal"], noun[body="28"] { --noun-body: url("./traits/1/body-teal.svg"); }
noun[body="yellow"], noun[body="29"] { --noun-body: url("./traits/1/body-yellow.svg"); }

/* ACCESSORIES
================================== */
noun[accessory="1n"], noun[accessory="0"] { --noun-accessory: url("./traits/2/accessory-1n.svg"); }
noun[accessory="aardvark"], noun[accessory="1"] { --noun-accessory: url("./traits/2/accessory-aardvark.svg"); }
noun[accessory="axe"], noun[accessory="2"] { --noun-accessory: url("./traits/2/accessory-axe.svg"); }
noun[accessory="belly-chameleon"], noun[accessory="3"] { --noun-accessory: url("./traits/2/accessory-belly-chameleon.svg"); }
noun[accessory="bird-flying"], noun[accessory="4"] { --noun-accessory: url("./traits/2/accessory-bird-flying.svg"); }
noun[accessory="bird-side"], noun[accessory="5"] { --noun-accessory: url("./traits/2/accessory-bird-side.svg"); }
noun[accessory="bling-anchor"], noun[accessory="6"] { --noun-accessory: url("./traits/2/accessory-bling-anchor.svg"); }
noun[accessory="bling-anvil"], noun[accessory="7"] { --noun-accessory: url("./traits/2/accessory-bling-anvil.svg"); }
noun[accessory="bling-arrow"], noun[accessory="8"] { --noun-accessory: url("./traits/2/accessory-bling-arrow.svg"); }
noun[accessory="bling-cheese"], noun[accessory="9"] { --noun-accessory: url("./traits/2/accessory-bling-cheese.svg"); }
noun[accessory="bling-gold-ingot"], noun[accessory="10"] { --noun-accessory: url("./traits/2/accessory-bling-gold-ingot.svg"); }
noun[accessory="bling-love"], noun[accessory="11"] { --noun-accessory: url("./traits/2/accessory-bling-love.svg"); }
noun[accessory="bling-mask"], noun[accessory="12"] { --noun-accessory: url("./traits/2/accessory-bling-mask.svg"); }
noun[accessory="bling-rings"], noun[accessory="13"] { --noun-accessory: url("./traits/2/accessory-bling-rings.svg"); }
noun[accessory="bling-scissors"], noun[accessory="14"] { --noun-accessory: url("./traits/2/accessory-bling-scissors.svg"); }
noun[accessory="bling-sparkles"], noun[accessory="15"] { --noun-accessory: url("./traits/2/accessory-bling-sparkles.svg"); }
noun[accessory="body-gradient-checkerdisco"], noun[accessory="16"] { --noun-accessory: url("./traits/2/accessory-body-gradient-checkerdisco.svg"); }
noun[accessory="body-gradient-dawn"], noun[accessory="17"] { --noun-accessory: url("./traits/2/accessory-body-gradient-dawn.svg"); }
noun[accessory="body-gradient-dusk"], noun[accessory="18"] { --noun-accessory: url("./traits/2/accessory-body-gradient-dusk.svg"); }
noun[accessory="body-gradient-glacier"], noun[accessory="19"] { --noun-accessory: url("./traits/2/accessory-body-gradient-glacier.svg"); }
noun[accessory="body-gradient-ice"], noun[accessory="20"] { --noun-accessory: url("./traits/2/accessory-body-gradient-ice.svg"); }
noun[accessory="body-gradient-pride"], noun[accessory="21"] { --noun-accessory: url("./traits/2/accessory-body-gradient-pride.svg"); }
noun[accessory="body-gradient-redpink"], noun[accessory="22"] { --noun-accessory: url("./traits/2/accessory-body-gradient-redpink.svg"); }
noun[accessory="body-gradient-sunset"], noun[accessory="23"] { --noun-accessory: url("./traits/2/accessory-body-gradient-sunset.svg"); }
noun[accessory="carrot"], noun[accessory="24"] { --noun-accessory: url("./traits/2/accessory-carrot.svg"); }
noun[accessory="chain-logo"], noun[accessory="25"] { --noun-accessory: url("./traits/2/accessory-chain-logo.svg"); }
noun[accessory="checker-bigwalk-blue-prime"], noun[accessory="26"] { --noun-accessory: url("./traits/2/accessory-checker-bigwalk-blue-prime.svg"); }
noun[accessory="checker-bigwalk-greylight"], noun[accessory="27"] { --noun-accessory: url("./traits/2/accessory-checker-bigwalk-greylight.svg"); }
noun[accessory="checker-bigwalk-rainbow"], noun[accessory="28"] { --noun-accessory: url("./traits/2/accessory-checker-bigwalk-rainbow.svg"); }
noun[accessory="checker-RGB"], noun[accessory="29"] { --noun-accessory: url("./traits/2/accessory-checker-RGB.svg"); }
noun[accessory="checker-spaced-black"], noun[accessory="30"] { --noun-accessory: url("./traits/2/accessory-checker-spaced-black.svg"); }
noun[accessory="checker-spaced-white"], noun[accessory="31"] { --noun-accessory: url("./traits/2/accessory-checker-spaced-white.svg"); }
noun[accessory="checker-vibrant"], noun[accessory="32"] { --noun-accessory: url("./traits/2/accessory-checker-vibrant.svg"); }
noun[accessory="checkers-big-green"], noun[accessory="33"] { --noun-accessory: url("./traits/2/accessory-checkers-big-green.svg"); }
noun[accessory="checkers-big-red-cold"], noun[accessory="34"] { --noun-accessory: url("./traits/2/accessory-checkers-big-red-cold.svg"); }
noun[accessory="checkers-black"], noun[accessory="35"] { --noun-accessory: url("./traits/2/accessory-checkers-black.svg"); }
noun[accessory="checkers-blue"], noun[accessory="36"] { --noun-accessory: url("./traits/2/accessory-checkers-blue.svg"); }
noun[accessory="checkers-magenta-80"], noun[accessory="37"] { --noun-accessory: url("./traits/2/accessory-checkers-magenta-80.svg"); }
noun[accessory="chicken"], noun[accessory="38"] { --noun-accessory: url("./traits/2/accessory-chicken.svg"); }
noun[accessory="cloud"], noun[accessory="39"] { --noun-accessory: url("./traits/2/accessory-cloud.svg"); }
noun[accessory="clover"], noun[accessory="40"] { --noun-accessory: url("./traits/2/accessory-clover.svg"); }
noun[accessory="collar-sunset"], noun[accessory="41"] { --noun-accessory: url("./traits/2/accessory-collar-sunset.svg"); }
noun[accessory="cow"], noun[accessory="42"] { --noun-accessory: url("./traits/2/accessory-cow.svg"); }
noun[accessory="decay-gray-dark"], noun[accessory="43"] { --noun-accessory: url("./traits/2/accessory-decay-gray-dark.svg"); }
noun[accessory="decay-pride"], noun[accessory="44"] { --noun-accessory: url("./traits/2/accessory-decay-pride.svg"); }
noun[accessory="dinosaur"], noun[accessory="45"] { --noun-accessory: url("./traits/2/accessory-dinosaur.svg"); }
noun[accessory="dollar-bling"], noun[accessory="46"] { --noun-accessory: url("./traits/2/accessory-dollar-bling.svg"); }
noun[accessory="dragon"], noun[accessory="47"] { --noun-accessory: url("./traits/2/accessory-dragon.svg"); }
noun[accessory="ducky"], noun[accessory="48"] { --noun-accessory: url("./traits/2/accessory-ducky.svg"); }
noun[accessory="eth"], noun[accessory="49"] { --noun-accessory: url("./traits/2/accessory-eth.svg"); }
noun[accessory="eye"], noun[accessory="50"] { --noun-accessory: url("./traits/2/accessory-eye.svg"); }
noun[accessory="flash"], noun[accessory="51"] { --noun-accessory: url("./traits/2/accessory-flash.svg"); }
noun[accessory="fries"], noun[accessory="52"] { --noun-accessory: url("./traits/2/accessory-fries.svg"); }
noun[accessory="glasses-logo-sun"], noun[accessory="53"] { --noun-accessory: url("./traits/2/accessory-glasses-logo-sun.svg"); }
noun[accessory="glasses-logo"], noun[accessory="54"] { --noun-accessory: url("./traits/2/accessory-glasses-logo.svg"); }
noun[accessory="glasses"], noun[accessory="55"] { --noun-accessory: url("./traits/2/accessory-glasses.svg"); }
noun[accessory="grid-simple-bege"], noun[accessory="56"] { --noun-accessory: url("./traits/2/accessory-grid-simple-bege.svg"); }
noun[accessory="heart"], noun[accessory="57"] { --noun-accessory: url("./traits/2/accessory-heart.svg"); }
noun[accessory="hoodiestrings-uneven"], noun[accessory="58"] { --noun-accessory: url("./traits/2/accessory-hoodiestrings-uneven.svg"); }
noun[accessory="id"], noun[accessory="59"] { --noun-accessory: url("./traits/2/accessory-id.svg"); }
noun[accessory="infinity"], noun[accessory="60"] { --noun-accessory: url("./traits/2/accessory-infinity.svg"); }
noun[accessory="insignia"], noun[accessory="61"] { --noun-accessory: url("./traits/2/accessory-insignia.svg"); }
noun[accessory="leaf"], noun[accessory="62"] { --noun-accessory: url("./traits/2/accessory-leaf.svg"); }
noun[accessory="lightbulb"], noun[accessory="63"] { --noun-accessory: url("./traits/2/accessory-lightbulb.svg"); }
noun[accessory="lines-45-greens"], noun[accessory="64"] { --noun-accessory: url("./traits/2/accessory-lines-45-greens.svg"); }
noun[accessory="lines-45-rose"], noun[accessory="65"] { --noun-accessory: url("./traits/2/accessory-lines-45-rose.svg"); }
noun[accessory="lp"], noun[accessory="66"] { --noun-accessory: url("./traits/2/accessory-lp.svg"); }
noun[accessory="marsface"], noun[accessory="67"] { --noun-accessory: url("./traits/2/accessory-marsface.svg"); }
noun[accessory="matrix-white"], noun[accessory="68"] { --noun-accessory: url("./traits/2/accessory-matrix-white.svg"); }
noun[accessory="moon-block"], noun[accessory="69"] { --noun-accessory: url("./traits/2/accessory-moon-block.svg"); }
noun[accessory="none"], noun[accessory="70"] { --noun-accessory: url("./traits/2/accessory-none.svg"); }
noun[accessory="oldshirt"], noun[accessory="71"] { --noun-accessory: url("./traits/2/accessory-oldshirt.svg"); }
noun[accessory="pizza-bling"], noun[accessory="72"] { --noun-accessory: url("./traits/2/accessory-pizza-bling.svg"); }
noun[accessory="pocket-pencil"], noun[accessory="73"] { --noun-accessory: url("./traits/2/accessory-pocket-pencil.svg"); }
noun[accessory="rain"], noun[accessory="74"] { --noun-accessory: url("./traits/2/accessory-rain.svg"); }
noun[accessory="rainbow-steps"], noun[accessory="75"] { --noun-accessory: url("./traits/2/accessory-rainbow-steps.svg"); }
noun[accessory="rgb"], noun[accessory="76"] { --noun-accessory: url("./traits/2/accessory-rgb.svg"); }
noun[accessory="robot"], noun[accessory="77"] { --noun-accessory: url("./traits/2/accessory-robot.svg"); }
noun[accessory="safety-vest"], noun[accessory="78"] { --noun-accessory: url("./traits/2/accessory-safety-vest.svg"); }
noun[accessory="scarf-clown"], noun[accessory="79"] { --noun-accessory: url("./traits/2/accessory-scarf-clown.svg"); }
noun[accessory="secret-x"], noun[accessory="80"] { --noun-accessory: url("./traits/2/accessory-secret-x.svg"); }
noun[accessory="shirt-black"], noun[accessory="81"] { --noun-accessory: url("./traits/2/accessory-shirt-black.svg"); }
noun[accessory="shrimp"], noun[accessory="82"] { --noun-accessory: url("./traits/2/accessory-shrimp.svg"); }
noun[accessory="slimesplat"], noun[accessory="83"] { --noun-accessory: url("./traits/2/accessory-slimesplat.svg"); }
noun[accessory="small-bling"], noun[accessory="84"] { --noun-accessory: url("./traits/2/accessory-small-bling.svg"); }
noun[accessory="snowflake"], noun[accessory="85"] { --noun-accessory: url("./traits/2/accessory-snowflake.svg"); }
noun[accessory="stains-blood"], noun[accessory="86"] { --noun-accessory: url("./traits/2/accessory-stains-blood.svg"); }
noun[accessory="stains-zombie"], noun[accessory="87"] { --noun-accessory: url("./traits/2/accessory-stains-zombie.svg"); }
noun[accessory="stripes-and-checks"], noun[accessory="88"] { --noun-accessory: url("./traits/2/accessory-stripes-and-checks.svg"); }
noun[accessory="stripes-big-red"], noun[accessory="89"] { --noun-accessory: url("./traits/2/accessory-stripes-big-red.svg"); }
noun[accessory="stripes-blit"], noun[accessory="90"] { --noun-accessory: url("./traits/2/accessory-stripes-blit.svg"); }
noun[accessory="stripes-blue-med"], noun[accessory="91"] { --noun-accessory: url("./traits/2/accessory-stripes-blue-med.svg"); }
noun[accessory="stripes-brown"], noun[accessory="92"] { --noun-accessory: url("./traits/2/accessory-stripes-brown.svg"); }
noun[accessory="stripes-olive"], noun[accessory="93"] { --noun-accessory: url("./traits/2/accessory-stripes-olive.svg"); }
noun[accessory="stripes-red-cold"], noun[accessory="94"] { --noun-accessory: url("./traits/2/accessory-stripes-red-cold.svg"); }
noun[accessory="sunset"], noun[accessory="95"] { --noun-accessory: url("./traits/2/accessory-sunset.svg"); }
noun[accessory="taxi-checkers"], noun[accessory="96"] { --noun-accessory: url("./traits/2/accessory-taxi-checkers.svg"); }
noun[accessory="tee-yo"], noun[accessory="97"] { --noun-accessory: url("./traits/2/accessory-tee-yo.svg"); }
noun[accessory="text-yolo"], noun[accessory="98"] { --noun-accessory: url("./traits/2/accessory-text-yolo.svg"); }
noun[accessory="think"], noun[accessory="99"] { --noun-accessory: url("./traits/2/accessory-think.svg"); }
noun[accessory="tie-black-on-white"], noun[accessory="100"] { --noun-accessory: url("./traits/2/accessory-tie-black-on-white.svg"); }
noun[accessory="tie-dye"], noun[accessory="101"] { --noun-accessory: url("./traits/2/accessory-tie-dye.svg"); }
noun[accessory="tie-purple-on-white"], noun[accessory="102"] { --noun-accessory: url("./traits/2/accessory-tie-purple-on-white.svg"); }
noun[accessory="tie-red"], noun[accessory="103"] { --noun-accessory: url("./traits/2/accessory-tie-red.svg"); }
noun[accessory="txt-a2+b2"], noun[accessory="104"] { --noun-accessory: url("./traits/2/accessory-txt-a2+b2.svg"); }
noun[accessory="txt-cc"], noun[accessory="105"] { --noun-accessory: url("./traits/2/accessory-txt-cc.svg"); }
noun[accessory="txt-cc2"], noun[accessory="106"] { --noun-accessory: url("./traits/2/accessory-txt-cc2.svg"); }
noun[accessory="txt-copy"], noun[accessory="107"] { --noun-accessory: url("./traits/2/accessory-txt-copy.svg"); }
noun[accessory="txt-dao-black"], noun[accessory="108"] { --noun-accessory: url("./traits/2/accessory-txt-dao-black.svg"); }
noun[accessory="txt-doom"], noun[accessory="109"] { --noun-accessory: url("./traits/2/accessory-txt-doom.svg"); }
noun[accessory="txt-dope-text"], noun[accessory="110"] { --noun-accessory: url("./traits/2/accessory-txt-dope-text.svg"); }
noun[accessory="txt-foo-black"], noun[accessory="111"] { --noun-accessory: url("./traits/2/accessory-txt-foo-black.svg"); }
noun[accessory="txt-ico"], noun[accessory="112"] { --noun-accessory: url("./traits/2/accessory-txt-ico.svg"); }
noun[accessory="txt-io"], noun[accessory="113"] { --noun-accessory: url("./traits/2/accessory-txt-io.svg"); }
noun[accessory="txt-lmao"], noun[accessory="114"] { --noun-accessory: url("./traits/2/accessory-txt-lmao.svg"); }
noun[accessory="txt-lol"], noun[accessory="115"] { --noun-accessory: url("./traits/2/accessory-txt-lol.svg"); }
noun[accessory="txt-mint"], noun[accessory="116"] { --noun-accessory: url("./traits/2/accessory-txt-mint.svg"); }
noun[accessory="txt-nil-grey-dark"], noun[accessory="117"] { --noun-accessory: url("./traits/2/accessory-txt-nil-grey-dark.svg"); }
noun[accessory="txt-noun-f0f"], noun[accessory="118"] { --noun-accessory: url("./traits/2/accessory-txt-noun-f0f.svg"); }
noun[accessory="txt-noun-green"], noun[accessory="119"] { --noun-accessory: url("./traits/2/accessory-txt-noun-green.svg"); }
noun[accessory="txt-noun-multicolor"], noun[accessory="120"] { --noun-accessory: url("./traits/2/accessory-txt-noun-multicolor.svg"); }
noun[accessory="txt-noun"], noun[accessory="121"] { --noun-accessory: url("./traits/2/accessory-txt-noun.svg"); }
noun[accessory="txt-pi"], noun[accessory="122"] { --noun-accessory: url("./traits/2/accessory-txt-pi.svg"); }
noun[accessory="txt-pop"], noun[accessory="123"] { --noun-accessory: url("./traits/2/accessory-txt-pop.svg"); }
noun[accessory="txt-rofl"], noun[accessory="124"] { --noun-accessory: url("./traits/2/accessory-txt-rofl.svg"); }
noun[accessory="txt-we"], noun[accessory="125"] { --noun-accessory: url("./traits/2/accessory-txt-we.svg"); }
noun[accessory="txt-yay"], noun[accessory="126"] { --noun-accessory: url("./traits/2/accessory-txt-yay.svg"); }
noun[accessory="wall"], noun[accessory="127"] { --noun-accessory: url("./traits/2/accessory-wall.svg"); }
noun[accessory="wave"], noun[accessory="128"] { --noun-accessory: url("./traits/2/accessory-wave.svg"); }
noun[accessory="wet-money"], noun[accessory="129"] { --noun-accessory: url("./traits/2/accessory-wet-money.svg"); }
noun[accessory="woolweave-bicolor"], noun[accessory="130"] { --noun-accessory: url("./traits/2/accessory-woolweave-bicolor.svg"); }
noun[accessory="woolweave-dirt"], noun[accessory="131"] { --noun-accessory: url("./traits/2/accessory-woolweave-dirt.svg"); }
noun[accessory="yingyang"], noun[accessory="132"] { --noun-accessory: url("./traits/2/accessory-yingyang.svg"); }
noun[accessory="body-bege"], noun[accessory="133"] { --noun-accessory: url("./traits/2/body-bege.svg"); }
noun[accessory="body-gray-scale-1"], noun[accessory="134"] { --noun-accessory: url("./traits/2/body-gray-scale-1.svg"); }
noun[accessory="body-gray-scale-9"], noun[accessory="135"] { --noun-accessory: url("./traits/2/body-gray-scale-9.svg"); }
noun[accessory="body-ice-cold"], noun[accessory="136"] { --noun-accessory: url("./traits/2/body-ice-cold.svg"); }

/* HEADS
================================== */
noun[head="aardvark"], noun[head="0"] { --noun-head: url("./traits/3/head-aardvark.svg"); }
noun[head="abstract"], noun[head="1"] { --noun-head: url("./traits/3/head-abstract.svg"); }
noun[head="ape"], noun[head="2"] { --noun-head: url("./traits/3/head-ape.svg"); }
noun[head="bag"], noun[head="3"] { --noun-head: url("./traits/3/head-bag.svg"); }
noun[head="bagpipe"], noun[head="4"] { --noun-head: url("./traits/3/head-bagpipe.svg"); }
noun[head="banana"], noun[head="5"] { --noun-head: url("./traits/3/head-banana.svg"); }
noun[head="bank"], noun[head="6"] { --noun-head: url("./traits/3/head-bank.svg"); }
noun[head="baseball-gameball"], noun[head="7"] { --noun-head: url("./traits/3/head-baseball-gameball.svg"); }
noun[head="basketball"], noun[head="8"] { --noun-head: url("./traits/3/head-basketball.svg"); }
noun[head="bat"], noun[head="9"] { --noun-head: url("./traits/3/head-bat.svg"); }
noun[head="bear"], noun[head="10"] { --noun-head: url("./traits/3/head-bear.svg"); }
noun[head="beer"], noun[head="11"] { --noun-head: url("./traits/3/head-beer.svg"); }
noun[head="beet"], noun[head="12"] { --noun-head: url("./traits/3/head-beet.svg"); }
noun[head="bell"], noun[head="13"] { --noun-head: url("./traits/3/head-bell.svg"); }
noun[head="bigfoot-yeti"], noun[head="14"] { --noun-head: url("./traits/3/head-bigfoot-yeti.svg"); }
noun[head="bigfoot"], noun[head="15"] { --noun-head: url("./traits/3/head-bigfoot.svg"); }
noun[head="blackhole"], noun[head="16"] { --noun-head: url("./traits/3/head-blackhole.svg"); }
noun[head="blueberry"], noun[head="17"] { --noun-head: url("./traits/3/head-blueberry.svg"); }
noun[head="bomb"], noun[head="18"] { --noun-head: url("./traits/3/head-bomb.svg"); }
noun[head="bonsai"], noun[head="19"] { --noun-head: url("./traits/3/head-bonsai.svg"); }
noun[head="boombox"], noun[head="20"] { --noun-head: url("./traits/3/head-boombox.svg"); }
noun[head="boot"], noun[head="21"] { --noun-head: url("./traits/3/head-boot.svg"); }
noun[head="box"], noun[head="22"] { --noun-head: url("./traits/3/head-box.svg"); }
noun[head="boxingglove"], noun[head="23"] { --noun-head: url("./traits/3/head-boxingglove.svg"); }
noun[head="brain"], noun[head="24"] { --noun-head: url("./traits/3/head-brain.svg"); }
noun[head="bubble-speech"], noun[head="25"] { --noun-head: url("./traits/3/head-bubble-speech.svg"); }
noun[head="bubblegum"], noun[head="26"] { --noun-head: url("./traits/3/head-bubblegum.svg"); }
noun[head="burger-dollarmenu"], noun[head="27"] { --noun-head: url("./traits/3/head-burger-dollarmenu.svg"); }
noun[head="cake"], noun[head="28"] { --noun-head: url("./traits/3/head-cake.svg"); }
noun[head="calculator"], noun[head="29"] { --noun-head: url("./traits/3/head-calculator.svg"); }
noun[head="calendar"], noun[head="30"] { --noun-head: url("./traits/3/head-calendar.svg"); }
noun[head="camcorder"], noun[head="31"] { --noun-head: url("./traits/3/head-camcorder.svg"); }
noun[head="cannedham"], noun[head="32"] { --noun-head: url("./traits/3/head-cannedham.svg"); }
noun[head="car"], noun[head="33"] { --noun-head: url("./traits/3/head-car.svg"); }
noun[head="cash-register"], noun[head="34"] { --noun-head: url("./traits/3/head-cash-register.svg"); }
noun[head="cassettetape"], noun[head="35"] { --noun-head: url("./traits/3/head-cassettetape.svg"); }
noun[head="cat"], noun[head="36"] { --noun-head: url("./traits/3/head-cat.svg"); }
noun[head="cd"], noun[head="37"] { --noun-head: url("./traits/3/head-cd.svg"); }
noun[head="chain"], noun[head="38"] { --noun-head: url("./traits/3/head-chain.svg"); }
noun[head="chainsaw"], noun[head="39"] { --noun-head: url("./traits/3/head-chainsaw.svg"); }
noun[head="chameleon"], noun[head="40"] { --noun-head: url("./traits/3/head-chameleon.svg"); }
noun[head="chart-bars"], noun[head="41"] { --noun-head: url("./traits/3/head-chart-bars.svg"); }
noun[head="cheese"], noun[head="42"] { --noun-head: url("./traits/3/head-cheese.svg"); }
noun[head="chefhat"], noun[head="43"] { --noun-head: url("./traits/3/head-chefhat.svg"); }
noun[head="cherry"], noun[head="44"] { --noun-head: url("./traits/3/head-cherry.svg"); }
noun[head="chicken"], noun[head="45"] { --noun-head: url("./traits/3/head-chicken.svg"); }
noun[head="chilli"], noun[head="46"] { --noun-head: url("./traits/3/head-chilli.svg"); }
noun[head="chipboard"], noun[head="47"] { --noun-head: url("./traits/3/head-chipboard.svg"); }
noun[head="chips"], noun[head="48"] { --noun-head: url("./traits/3/head-chips.svg"); }
noun[head="chocolate"], noun[head="49"] { --noun-head: url("./traits/3/head-chocolate.svg"); }
noun[head="cloud"], noun[head="50"] { --noun-head: url("./traits/3/head-cloud.svg"); }
noun[head="clover"], noun[head="51"] { --noun-head: url("./traits/3/head-clover.svg"); }
noun[head="clutch"], noun[head="52"] { --noun-head: url("./traits/3/head-clutch.svg"); }
noun[head="coffeebean"], noun[head="53"] { --noun-head: url("./traits/3/head-coffeebean.svg"); }
noun[head="cone"], noun[head="54"] { --noun-head: url("./traits/3/head-cone.svg"); }
noun[head="console-handheld"], noun[head="55"] { --noun-head: url("./traits/3/head-console-handheld.svg"); }
noun[head="cookie"], noun[head="56"] { --noun-head: url("./traits/3/head-cookie.svg"); }
noun[head="cordlessphone"], noun[head="57"] { --noun-head: url("./traits/3/head-cordlessphone.svg"); }
noun[head="cottonball"], noun[head="58"] { --noun-head: url("./traits/3/head-cottonball.svg"); }
noun[head="cow"], noun[head="59"] { --noun-head: url("./traits/3/head-cow.svg"); }
noun[head="crab"], noun[head="60"] { --noun-head: url("./traits/3/head-crab.svg"); }
noun[head="crane"], noun[head="61"] { --noun-head: url("./traits/3/head-crane.svg"); }
noun[head="croc-hat"], noun[head="62"] { --noun-head: url("./traits/3/head-croc-hat.svg"); }
noun[head="crown"], noun[head="63"] { --noun-head: url("./traits/3/head-crown.svg"); }
noun[head="crt-bsod"], noun[head="64"] { --noun-head: url("./traits/3/head-crt-bsod.svg"); }
noun[head="crystalball"], noun[head="65"] { --noun-head: url("./traits/3/head-crystalball.svg"); }
noun[head="diamond-blue"], noun[head="66"] { --noun-head: url("./traits/3/head-diamond-blue.svg"); }
noun[head="diamond-red"], noun[head="67"] { --noun-head: url("./traits/3/head-diamond-red.svg"); }
noun[head="dictionary"], noun[head="68"] { --noun-head: url("./traits/3/head-dictionary.svg"); }
noun[head="dino"], noun[head="69"] { --noun-head: url("./traits/3/head-dino.svg"); }
noun[head="dna"], noun[head="70"] { --noun-head: url("./traits/3/head-dna.svg"); }
noun[head="dog"], noun[head="71"] { --noun-head: url("./traits/3/head-dog.svg"); }
noun[head="doughnut"], noun[head="72"] { --noun-head: url("./traits/3/head-doughnut.svg"); }
noun[head="drill"], noun[head="73"] { --noun-head: url("./traits/3/head-drill.svg"); }
noun[head="duck"], noun[head="74"] { --noun-head: url("./traits/3/head-duck.svg"); }
noun[head="ducky"], noun[head="75"] { --noun-head: url("./traits/3/head-ducky.svg"); }
noun[head="earth"], noun[head="76"] { --noun-head: url("./traits/3/head-earth.svg"); }
noun[head="egg"], noun[head="77"] { --noun-head: url("./traits/3/head-egg.svg"); }
noun[head="faberge"], noun[head="78"] { --noun-head: url("./traits/3/head-faberge.svg"); }
noun[head="factory-dark"], noun[head="79"] { --noun-head: url("./traits/3/head-factory-dark.svg"); }
noun[head="fan"], noun[head="80"] { --noun-head: url("./traits/3/head-fan.svg"); }
noun[head="fence"], noun[head="81"] { --noun-head: url("./traits/3/head-fence.svg"); }
noun[head="film-35mm"], noun[head="82"] { --noun-head: url("./traits/3/head-film-35mm.svg"); }
noun[head="film-strip"], noun[head="83"] { --noun-head: url("./traits/3/head-film-strip.svg"); }
noun[head="fir"], noun[head="84"] { --noun-head: url("./traits/3/head-fir.svg"); }
noun[head="firehydrant"], noun[head="85"] { --noun-head: url("./traits/3/head-firehydrant.svg"); }
noun[head="flamingo"], noun[head="86"] { --noun-head: url("./traits/3/head-flamingo.svg"); }
noun[head="flower"], noun[head="87"] { --noun-head: url("./traits/3/head-flower.svg"); }
noun[head="fox"], noun[head="88"] { --noun-head: url("./traits/3/head-fox.svg"); }
noun[head="frog"], noun[head="89"] { --noun-head: url("./traits/3/head-frog.svg"); }
noun[head="garlic"], noun[head="90"] { --noun-head: url("./traits/3/head-garlic.svg"); }
noun[head="gavel"], noun[head="91"] { --noun-head: url("./traits/3/head-gavel.svg"); }
noun[head="ghost-B"], noun[head="92"] { --noun-head: url("./traits/3/head-ghost-B.svg"); }
noun[head="glasses-big"], noun[head="93"] { --noun-head: url("./traits/3/head-glasses-big.svg"); }
noun[head="gnome"], noun[head="94"] { --noun-head: url("./traits/3/head-gnome.svg"); }
noun[head="goat"], noun[head="95"] { --noun-head: url("./traits/3/head-goat.svg"); }
noun[head="goldcoin"], noun[head="96"] { --noun-head: url("./traits/3/head-goldcoin.svg"); }
noun[head="goldfish"], noun[head="97"] { --noun-head: url("./traits/3/head-goldfish.svg"); }
noun[head="grouper"], noun[head="98"] { --noun-head: url("./traits/3/head-grouper.svg"); }
noun[head="hair"], noun[head="99"] { --noun-head: url("./traits/3/head-hair.svg"); }
noun[head="hardhat"], noun[head="100"] { --noun-head: url("./traits/3/head-hardhat.svg"); }
noun[head="heart"], noun[head="101"] { --noun-head: url("./traits/3/head-heart.svg"); }
noun[head="helicopter"], noun[head="102"] { --noun-head: url("./traits/3/head-helicopter.svg"); }
noun[head="highheel"], noun[head="103"] { --noun-head: url("./traits/3/head-highheel.svg"); }
noun[head="hockeypuck"], noun[head="104"] { --noun-head: url("./traits/3/head-hockeypuck.svg"); }
noun[head="horse-deepfried"], noun[head="105"] { --noun-head: url("./traits/3/head-horse-deepfried.svg"); }
noun[head="hotdog"], noun[head="106"] { --noun-head: url("./traits/3/head-hotdog.svg"); }
noun[head="house"], noun[head="107"] { --noun-head: url("./traits/3/head-house.svg"); }
noun[head="icepop-b"], noun[head="108"] { --noun-head: url("./traits/3/head-icepop-b.svg"); }
noun[head="igloo"], noun[head="109"] { --noun-head: url("./traits/3/head-igloo.svg"); }
noun[head="island"], noun[head="110"] { --noun-head: url("./traits/3/head-island.svg"); }
noun[head="jellyfish"], noun[head="111"] { --noun-head: url("./traits/3/head-jellyfish.svg"); }
noun[head="jupiter"], noun[head="112"] { --noun-head: url("./traits/3/head-jupiter.svg"); }
noun[head="kangaroo"], noun[head="113"] { --noun-head: url("./traits/3/head-kangaroo.svg"); }
noun[head="ketchup"], noun[head="114"] { --noun-head: url("./traits/3/head-ketchup.svg"); }
noun[head="laptop"], noun[head="115"] { --noun-head: url("./traits/3/head-laptop.svg"); }
noun[head="lightning-bolt"], noun[head="116"] { --noun-head: url("./traits/3/head-lightning-bolt.svg"); }
noun[head="lint"], noun[head="117"] { --noun-head: url("./traits/3/head-lint.svg"); }
noun[head="lips"], noun[head="118"] { --noun-head: url("./traits/3/head-lips.svg"); }
noun[head="lipstick2"], noun[head="119"] { --noun-head: url("./traits/3/head-lipstick2.svg"); }
noun[head="lock"], noun[head="120"] { --noun-head: url("./traits/3/head-lock.svg"); }
noun[head="macaroni"], noun[head="121"] { --noun-head: url("./traits/3/head-macaroni.svg"); }
noun[head="mailbox"], noun[head="122"] { --noun-head: url("./traits/3/head-mailbox.svg"); }
noun[head="maze"], noun[head="123"] { --noun-head: url("./traits/3/head-maze.svg"); }
noun[head="microwave"], noun[head="124"] { --noun-head: url("./traits/3/head-microwave.svg"); }
noun[head="milk"], noun[head="125"] { --noun-head: url("./traits/3/head-milk.svg"); }
noun[head="mirror"], noun[head="126"] { --noun-head: url("./traits/3/head-mirror.svg"); }
noun[head="mixer"], noun[head="127"] { --noun-head: url("./traits/3/head-mixer.svg"); }
noun[head="moon"], noun[head="128"] { --noun-head: url("./traits/3/head-moon.svg"); }
noun[head="moose"], noun[head="129"] { --noun-head: url("./traits/3/head-moose.svg"); }
noun[head="mosquito"], noun[head="130"] { --noun-head: url("./traits/3/head-mosquito.svg"); }
noun[head="mountain-snowcap"], noun[head="131"] { --noun-head: url("./traits/3/head-mountain-snowcap.svg"); }
noun[head="mouse"], noun[head="132"] { --noun-head: url("./traits/3/head-mouse.svg"); }
noun[head="mug"], noun[head="133"] { --noun-head: url("./traits/3/head-mug.svg"); }
noun[head="mushroom"], noun[head="134"] { --noun-head: url("./traits/3/head-mushroom.svg"); }
noun[head="mustard"], noun[head="135"] { --noun-head: url("./traits/3/head-mustard.svg"); }
noun[head="nigiri"], noun[head="136"] { --noun-head: url("./traits/3/head-nigiri.svg"); }
noun[head="noodles"], noun[head="137"] { --noun-head: url("./traits/3/head-noodles.svg"); }
noun[head="onion"], noun[head="138"] { --noun-head: url("./traits/3/head-onion.svg"); }
noun[head="orangutan"], noun[head="139"] { --noun-head: url("./traits/3/head-orangutan.svg"); }
noun[head="orca"], noun[head="140"] { --noun-head: url("./traits/3/head-orca.svg"); }
noun[head="otter"], noun[head="141"] { --noun-head: url("./traits/3/head-otter.svg"); }
noun[head="outlet"], noun[head="142"] { --noun-head: url("./traits/3/head-outlet.svg"); }
noun[head="owl"], noun[head="143"] { --noun-head: url("./traits/3/head-owl.svg"); }
noun[head="oyster"], noun[head="144"] { --noun-head: url("./traits/3/head-oyster.svg"); }
noun[head="paintbrush"], noun[head="145"] { --noun-head: url("./traits/3/head-paintbrush.svg"); }
noun[head="panda"], noun[head="146"] { --noun-head: url("./traits/3/head-panda.svg"); }
noun[head="paperclip"], noun[head="147"] { --noun-head: url("./traits/3/head-paperclip.svg"); }
noun[head="peanut"], noun[head="148"] { --noun-head: url("./traits/3/head-peanut.svg"); }
noun[head="pencil-tip"], noun[head="149"] { --noun-head: url("./traits/3/head-pencil-tip.svg"); }
noun[head="peyote"], noun[head="150"] { --noun-head: url("./traits/3/head-peyote.svg"); }
noun[head="piano"], noun[head="151"] { --noun-head: url("./traits/3/head-piano.svg"); }
noun[head="pickle"], noun[head="152"] { --noun-head: url("./traits/3/head-pickle.svg"); }
noun[head="pie"], noun[head="153"] { --noun-head: url("./traits/3/head-pie.svg"); }
noun[head="piggybank"], noun[head="154"] { --noun-head: url("./traits/3/head-piggybank.svg"); }
noun[head="pill"], noun[head="155"] { --noun-head: url("./traits/3/head-pill.svg"); }
noun[head="pillow"], noun[head="156"] { --noun-head: url("./traits/3/head-pillow.svg"); }
noun[head="pineapple"], noun[head="157"] { --noun-head: url("./traits/3/head-pineapple.svg"); }
noun[head="pipe"], noun[head="158"] { --noun-head: url("./traits/3/head-pipe.svg"); }
noun[head="pirateship"], noun[head="159"] { --noun-head: url("./traits/3/head-pirateship.svg"); }
noun[head="pizza"], noun[head="160"] { --noun-head: url("./traits/3/head-pizza.svg"); }
noun[head="plane"], noun[head="161"] { --noun-head: url("./traits/3/head-plane.svg"); }
noun[head="pop"], noun[head="162"] { --noun-head: url("./traits/3/head-pop.svg"); }
noun[head="porkbao"], noun[head="163"] { --noun-head: url("./traits/3/head-porkbao.svg"); }
noun[head="potato"], noun[head="164"] { --noun-head: url("./traits/3/head-potato.svg"); }
noun[head="pufferfish"], noun[head="165"] { --noun-head: url("./traits/3/head-pufferfish.svg"); }
noun[head="pumpkin"], noun[head="166"] { --noun-head: url("./traits/3/head-pumpkin.svg"); }
noun[head="pyramid"], noun[head="167"] { --noun-head: url("./traits/3/head-pyramid.svg"); }
noun[head="queencrown"], noun[head="168"] { --noun-head: url("./traits/3/head-queencrown.svg"); }
noun[head="rabbit"], noun[head="169"] { --noun-head: url("./traits/3/head-rabbit.svg"); }
noun[head="rainbow"], noun[head="170"] { --noun-head: url("./traits/3/head-rainbow.svg"); }
noun[head="rangefinder"], noun[head="171"] { --noun-head: url("./traits/3/head-rangefinder.svg"); }
noun[head="raven"], noun[head="172"] { --noun-head: url("./traits/3/head-raven.svg"); }
noun[head="retainer"], noun[head="173"] { --noun-head: url("./traits/3/head-retainer.svg"); }
noun[head="rgb"], noun[head="174"] { --noun-head: url("./traits/3/head-rgb.svg"); }
noun[head="ring"], noun[head="175"] { --noun-head: url("./traits/3/head-ring.svg"); }
noun[head="road"], noun[head="176"] { --noun-head: url("./traits/3/head-road.svg"); }
noun[head="robot"], noun[head="177"] { --noun-head: url("./traits/3/head-robot.svg"); }
noun[head="rock"], noun[head="178"] { --noun-head: url("./traits/3/head-rock.svg"); }
noun[head="rosebud"], noun[head="179"] { --noun-head: url("./traits/3/head-rosebud.svg"); }
noun[head="ruler-triangular"], noun[head="180"] { --noun-head: url("./traits/3/head-ruler-triangular.svg"); }
noun[head="saguaro"], noun[head="181"] { --noun-head: url("./traits/3/head-saguaro.svg"); }
noun[head="sailboat"], noun[head="182"] { --noun-head: url("./traits/3/head-sailboat.svg"); }
noun[head="sandwich"], noun[head="183"] { --noun-head: url("./traits/3/head-sandwich.svg"); }
noun[head="saturn"], noun[head="184"] { --noun-head: url("./traits/3/head-saturn.svg"); }
noun[head="saw"], noun[head="185"] { --noun-head: url("./traits/3/head-saw.svg"); }
noun[head="scorpion"], noun[head="186"] { --noun-head: url("./traits/3/head-scorpion.svg"); }
noun[head="shark"], noun[head="187"] { --noun-head: url("./traits/3/head-shark.svg"); }
noun[head="shower"], noun[head="188"] { --noun-head: url("./traits/3/head-shower.svg"); }
noun[head="skateboard"], noun[head="189"] { --noun-head: url("./traits/3/head-skateboard.svg"); }
noun[head="skeleton-hat"], noun[head="190"] { --noun-head: url("./traits/3/head-skeleton-hat.svg"); }
noun[head="skilift"], noun[head="191"] { --noun-head: url("./traits/3/head-skilift.svg"); }
noun[head="smile"], noun[head="192"] { --noun-head: url("./traits/3/head-smile.svg"); }
noun[head="snowglobe"], noun[head="193"] { --noun-head: url("./traits/3/head-snowglobe.svg"); }
noun[head="snowmobile"], noun[head="194"] { --noun-head: url("./traits/3/head-snowmobile.svg"); }
noun[head="spaghetti"], noun[head="195"] { --noun-head: url("./traits/3/head-spaghetti.svg"); }
noun[head="sponge"], noun[head="196"] { --noun-head: url("./traits/3/head-sponge.svg"); }
noun[head="squid"], noun[head="197"] { --noun-head: url("./traits/3/head-squid.svg"); }
noun[head="stapler"], noun[head="198"] { --noun-head: url("./traits/3/head-stapler.svg"); }
noun[head="star-sparkles"], noun[head="199"] { --noun-head: url("./traits/3/head-star-sparkles.svg"); }
noun[head="steak"], noun[head="200"] { --noun-head: url("./traits/3/head-steak.svg"); }
noun[head="sunset"], noun[head="201"] { --noun-head: url("./traits/3/head-sunset.svg"); }
noun[head="taco-classic"], noun[head="202"] { --noun-head: url("./traits/3/head-taco-classic.svg"); }
noun[head="taxi"], noun[head="203"] { --noun-head: url("./traits/3/head-taxi.svg"); }
noun[head="thumbsup"], noun[head="204"] { --noun-head: url("./traits/3/head-thumbsup.svg"); }
noun[head="toaster"], noun[head="205"] { --noun-head: url("./traits/3/head-toaster.svg"); }
noun[head="toiletpaper-full"], noun[head="206"] { --noun-head: url("./traits/3/head-toiletpaper-full.svg"); }
noun[head="tooth"], noun[head="207"] { --noun-head: url("./traits/3/head-tooth.svg"); }
noun[head="toothbrush-fresh"], noun[head="208"] { --noun-head: url("./traits/3/head-toothbrush-fresh.svg"); }
noun[head="tornado"], noun[head="209"] { --noun-head: url("./traits/3/head-tornado.svg"); }
noun[head="trashcan"], noun[head="210"] { --noun-head: url("./traits/3/head-trashcan.svg"); }
noun[head="turing"], noun[head="211"] { --noun-head: url("./traits/3/head-turing.svg"); }
noun[head="ufo"], noun[head="212"] { --noun-head: url("./traits/3/head-ufo.svg"); }
noun[head="undead"], noun[head="213"] { --noun-head: url("./traits/3/head-undead.svg"); }
noun[head="unicorn"], noun[head="214"] { --noun-head: url("./traits/3/head-unicorn.svg"); }
noun[head="vent"], noun[head="215"] { --noun-head: url("./traits/3/head-vent.svg"); }
noun[head="void"], noun[head="216"] { --noun-head: url("./traits/3/head-void.svg"); }
noun[head="volcano"], noun[head="217"] { --noun-head: url("./traits/3/head-volcano.svg"); }
noun[head="volleyball"], noun[head="218"] { --noun-head: url("./traits/3/head-volleyball.svg"); }
noun[head="wall"], noun[head="219"] { --noun-head: url("./traits/3/head-wall.svg"); }
noun[head="wallet"], noun[head="220"] { --noun-head: url("./traits/3/head-wallet.svg"); }
noun[head="wallsafe"], noun[head="221"] { --noun-head: url("./traits/3/head-wallsafe.svg"); }
noun[head="washingmachine"], noun[head="222"] { --noun-head: url("./traits/3/head-washingmachine.svg"); }
noun[head="watch"], noun[head="223"] { --noun-head: url("./traits/3/head-watch.svg"); }
noun[head="watermelon"], noun[head="224"] { --noun-head: url("./traits/3/head-watermelon.svg"); }
noun[head="wave"], noun[head="225"] { --noun-head: url("./traits/3/head-wave.svg"); }
noun[head="weed"], noun[head="226"] { --noun-head: url("./traits/3/head-weed.svg"); }
noun[head="weight"], noun[head="227"] { --noun-head: url("./traits/3/head-weight.svg"); }
noun[head="werewolf"], noun[head="228"] { --noun-head: url("./traits/3/head-werewolf.svg"); }
noun[head="whale-alive"], noun[head="229"] { --noun-head: url("./traits/3/head-whale-alive.svg"); }
noun[head="whale"], noun[head="230"] { --noun-head: url("./traits/3/head-whale.svg"); }
noun[head="wine"], noun[head="231"] { --noun-head: url("./traits/3/head-wine.svg"); }
noun[head="wizardhat"], noun[head="232"] { --noun-head: url("./traits/3/head-wizardhat.svg"); }
noun[head="zebra"], noun[head="233"] { --noun-head: url("./traits/3/head-zebra.svg"); }

/* GLASSES
================================== */
noun[glasses="hip-rose"], noun[glasses="0"] { --noun-glasses: url("./traits/4/glasses-hip-rose.svg"); }
noun[glasses="black-eyes-red"], noun[glasses="1"] { --noun-glasses: url("./traits/4/glasses-square-black-eyes-red.svg"); }
noun[glasses="black-rgb"], noun[glasses="2"] { --noun-glasses: url("./traits/4/glasses-square-black-rgb.svg"); }
noun[glasses="black"], noun[glasses="3"] { --noun-glasses: url("./traits/4/glasses-square-black.svg"); }
noun[glasses="blue-med-saturated"], noun[glasses="4"] { --noun-glasses: url("./traits/4/glasses-square-blue-med-saturated.svg"); }
noun[glasses="blue"], noun[glasses="5"] { --noun-glasses: url("./traits/4/glasses-square-blue.svg"); }
noun[glasses="frog-green"], noun[glasses="6"] { --noun-glasses: url("./traits/4/glasses-square-frog-green.svg"); }
noun[glasses="fullblack"], noun[glasses="7"] { --noun-glasses: url("./traits/4/glasses-square-fullblack.svg"); }
noun[glasses="green-blue-multi"], noun[glasses="8"] { --noun-glasses: url("./traits/4/glasses-square-green-blue-multi.svg"); }
noun[glasses="grey-light"], noun[glasses="9"] { --noun-glasses: url("./traits/4/glasses-square-grey-light.svg"); }
noun[glasses="guava"], noun[glasses="10"] { --noun-glasses: url("./traits/4/glasses-square-guava.svg"); }
noun[glasses="honey"], noun[glasses="11"] { --noun-glasses: url("./traits/4/glasses-square-honey.svg"); }
noun[glasses="magenta"], noun[glasses="12"] { --noun-glasses: url("./traits/4/glasses-square-magenta.svg"); }
noun[glasses="orange"], noun[glasses="13"] { --noun-glasses: url("./traits/4/glasses-square-orange.svg"); }
noun[glasses="pink-purple-multi"], noun[glasses="14"] { --noun-glasses: url("./traits/4/glasses-square-pink-purple-multi.svg"); }
noun[glasses="red"], noun[glasses="15"] { --noun-glasses: url("./traits/4/glasses-square-red.svg"); }
noun[glasses="smoke"], noun[glasses="16"] { --noun-glasses: url("./traits/4/glasses-square-smoke.svg"); }
noun[glasses="teal"], noun[glasses="17"] { --noun-glasses: url("./traits/4/glasses-square-teal.svg"); }
noun[glasses="watermelon"], noun[glasses="18"] { --noun-glasses: url("./traits/4/glasses-square-watermelon.svg"); }
noun[glasses="yellow-orange-multi"], noun[glasses="19"] { --noun-glasses: url("./traits/4/glasses-square-yellow-orange-multi.svg"); }
noun[glasses="yellow-saturated"], noun[glasses="20"] { --noun-glasses: url("./traits/4/glasses-square-yellow-saturated.svg"); }
