
noun {
  display: inline-block;
  width: 320px;
  height: 320px;
  position: relative;
  background: var(--noun-bg);
  background-image: var(--noun-accessory), var(--noun-body);
}

noun[class*="head-"]:before {
  display: block;
  width: 100%;;
  height: 100%;
  content: '';
  background-image: var(--noun-glasses), var(--noun-head);
}

/* BACKGROUNDS
================================== */
.bg-cool { --noun-bg: #d5d7e0; }
.bg-warm { --noun-bg: #dfd7d5; }

/* BODIES
================================== */
noun.body-bege-bsod { --noun-body: url("./traits/1-bodies/body-bege-bsod.svg"); }
noun.body-bege-crt { --noun-body: url("./traits/1-bodies/body-bege-crt.svg"); }
noun.body-blue-sky { --noun-body: url("./traits/1-bodies/body-blue-sky.svg"); }
noun.body-bluegrey { --noun-body: url("./traits/1-bodies/body-bluegrey.svg"); }
noun.body-cold { --noun-body: url("./traits/1-bodies/body-cold.svg"); }
noun.body-computerblue { --noun-body: url("./traits/1-bodies/body-computerblue.svg"); }
noun.body-darkbrown { --noun-body: url("./traits/1-bodies/body-darkbrown.svg"); }
noun.body-darkpink { --noun-body: url("./traits/1-bodies/body-darkpink.svg"); }
noun.body-foggrey { --noun-body: url("./traits/1-bodies/body-foggrey.svg"); }
noun.body-gold { --noun-body: url("./traits/1-bodies/body-gold.svg"); }
noun.body-grayscale-1 { --noun-body: url("./traits/1-bodies/body-grayscale-1.svg"); }
noun.body-grayscale-7 { --noun-body: url("./traits/1-bodies/body-grayscale-7.svg"); }
noun.body-grayscale-8 { --noun-body: url("./traits/1-bodies/body-grayscale-8.svg"); }
noun.body-grayscale-9 { --noun-body: url("./traits/1-bodies/body-grayscale-9.svg"); }
noun.body-green { --noun-body: url("./traits/1-bodies/body-green.svg"); }
noun.body-gunk { --noun-body: url("./traits/1-bodies/body-gunk.svg"); }
noun.body-hotbrown { --noun-body: url("./traits/1-bodies/body-hotbrown.svg"); }
noun.body-magenta { --noun-body: url("./traits/1-bodies/body-magenta.svg"); }
noun.body-orange-yellow { --noun-body: url("./traits/1-bodies/body-orange-yellow.svg"); }
noun.body-orange { --noun-body: url("./traits/1-bodies/body-orange.svg"); }
noun.body-peachy-a { --noun-body: url("./traits/1-bodies/body-peachy-a.svg"); }
noun.body-peachy-B { --noun-body: url("./traits/1-bodies/body-peachy-B.svg"); }
noun.body-purple { --noun-body: url("./traits/1-bodies/body-purple.svg"); }
noun.body-red { --noun-body: url("./traits/1-bodies/body-red.svg"); }
noun.body-redpinkish { --noun-body: url("./traits/1-bodies/body-redpinkish.svg"); }
noun.body-rust { --noun-body: url("./traits/1-bodies/body-rust.svg"); }
noun.body-slimegreen { --noun-body: url("./traits/1-bodies/body-slimegreen.svg"); }
noun.body-teal-light { --noun-body: url("./traits/1-bodies/body-teal-light.svg"); }
noun.body-teal { --noun-body: url("./traits/1-bodies/body-teal.svg"); }
noun.body-yellow { --noun-body: url("./traits/1-bodies/body-yellow.svg"); }


/* ACCESSORIES
================================== */
noun.accessory-1n { --noun-accessory: url("./traits/2-accessories/accessory-1n.svg"); }
noun.accessory-aardvark { --noun-accessory: url("./traits/2-accessories/accessory-aardvark.svg"); }
noun.accessory-axe { --noun-accessory: url("./traits/2-accessories/accessory-axe.svg"); }
noun.accessory-belly-chameleon { --noun-accessory: url("./traits/2-accessories/accessory-belly-chameleon.svg"); }
noun.accessory-bird-flying { --noun-accessory: url("./traits/2-accessories/accessory-bird-flying.svg"); }
noun.accessory-bird-side { --noun-accessory: url("./traits/2-accessories/accessory-bird-side.svg"); }
noun.accessory-bling-anchor { --noun-accessory: url("./traits/2-accessories/accessory-bling-anchor.svg"); }
noun.accessory-bling-anvil { --noun-accessory: url("./traits/2-accessories/accessory-bling-anvil.svg"); }
noun.accessory-bling-arrow { --noun-accessory: url("./traits/2-accessories/accessory-bling-arrow.svg"); }
noun.accessory-bling-cheese { --noun-accessory: url("./traits/2-accessories/accessory-bling-cheese.svg"); }
noun.accessory-bling-gold-ingot { --noun-accessory: url("./traits/2-accessories/accessory-bling-gold-ingot.svg"); }
noun.accessory-bling-love { --noun-accessory: url("./traits/2-accessories/accessory-bling-love.svg"); }
noun.accessory-bling-mask { --noun-accessory: url("./traits/2-accessories/accessory-bling-mask.svg"); }
noun.accessory-bling-rings { --noun-accessory: url("./traits/2-accessories/accessory-bling-rings.svg"); }
noun.accessory-bling-scissors { --noun-accessory: url("./traits/2-accessories/accessory-bling-scissors.svg"); }
noun.accessory-bling-sparkles { --noun-accessory: url("./traits/2-accessories/accessory-bling-sparkles.svg"); }
noun.accessory-body-gradient-checkerdisco { --noun-accessory: url("./traits/2-accessories/accessory-body-gradient-checkerdisco.svg"); }
noun.accessory-body-gradient-dawn { --noun-accessory: url("./traits/2-accessories/accessory-body-gradient-dawn.svg"); }
noun.accessory-body-gradient-dusk { --noun-accessory: url("./traits/2-accessories/accessory-body-gradient-dusk.svg"); }
noun.accessory-body-gradient-glacier { --noun-accessory: url("./traits/2-accessories/accessory-body-gradient-glacier.svg"); }
noun.accessory-body-gradient-ice { --noun-accessory: url("./traits/2-accessories/accessory-body-gradient-ice.svg"); }
noun.accessory-body-gradient-pride { --noun-accessory: url("./traits/2-accessories/accessory-body-gradient-pride.svg"); }
noun.accessory-body-gradient-redpink { --noun-accessory: url("./traits/2-accessories/accessory-body-gradient-redpink.svg"); }
noun.accessory-body-gradient-sunset { --noun-accessory: url("./traits/2-accessories/accessory-body-gradient-sunset.svg"); }
noun.accessory-carrot { --noun-accessory: url("./traits/2-accessories/accessory-carrot.svg"); }
noun.accessory-chain-logo { --noun-accessory: url("./traits/2-accessories/accessory-chain-logo.svg"); }
noun.accessory-checker-bigwalk-blue-prime { --noun-accessory: url("./traits/2-accessories/accessory-checker-bigwalk-blue-prime.svg"); }
noun.accessory-checker-bigwalk-greylight { --noun-accessory: url("./traits/2-accessories/accessory-checker-bigwalk-greylight.svg"); }
noun.accessory-checker-bigwalk-rainbow { --noun-accessory: url("./traits/2-accessories/accessory-checker-bigwalk-rainbow.svg"); }
noun.accessory-checker-RGB { --noun-accessory: url("./traits/2-accessories/accessory-checker-RGB.svg"); }
noun.accessory-checker-spaced-black { --noun-accessory: url("./traits/2-accessories/accessory-checker-spaced-black.svg"); }
noun.accessory-checker-spaced-white { --noun-accessory: url("./traits/2-accessories/accessory-checker-spaced-white.svg"); }
noun.accessory-checker-vibrant { --noun-accessory: url("./traits/2-accessories/accessory-checker-vibrant.svg"); }
noun.accessory-checkers-big-green { --noun-accessory: url("./traits/2-accessories/accessory-checkers-big-green.svg"); }
noun.accessory-checkers-big-red-cold { --noun-accessory: url("./traits/2-accessories/accessory-checkers-big-red-cold.svg"); }
noun.accessory-checkers-black { --noun-accessory: url("./traits/2-accessories/accessory-checkers-black.svg"); }
noun.accessory-checkers-blue { --noun-accessory: url("./traits/2-accessories/accessory-checkers-blue.svg"); }
noun.accessory-checkers-magenta-80 { --noun-accessory: url("./traits/2-accessories/accessory-checkers-magenta-80.svg"); }
noun.accessory-chicken { --noun-accessory: url("./traits/2-accessories/accessory-chicken.svg"); }
noun.accessory-cloud { --noun-accessory: url("./traits/2-accessories/accessory-cloud.svg"); }
noun.accessory-clover { --noun-accessory: url("./traits/2-accessories/accessory-clover.svg"); }
noun.accessory-collar-sunset { --noun-accessory: url("./traits/2-accessories/accessory-collar-sunset.svg"); }
noun.accessory-cow { --noun-accessory: url("./traits/2-accessories/accessory-cow.svg"); }
noun.accessory-decay-gray-dark { --noun-accessory: url("./traits/2-accessories/accessory-decay-gray-dark.svg"); }
noun.accessory-decay-pride { --noun-accessory: url("./traits/2-accessories/accessory-decay-pride.svg"); }
noun.accessory-dinosaur { --noun-accessory: url("./traits/2-accessories/accessory-dinosaur.svg"); }
noun.accessory-dollar-bling { --noun-accessory: url("./traits/2-accessories/accessory-dollar-bling.svg"); }
noun.accessory-dragon { --noun-accessory: url("./traits/2-accessories/accessory-dragon.svg"); }
noun.accessory-ducky { --noun-accessory: url("./traits/2-accessories/accessory-ducky.svg"); }
noun.accessory-eth { --noun-accessory: url("./traits/2-accessories/accessory-eth.svg"); }
noun.accessory-eye { --noun-accessory: url("./traits/2-accessories/accessory-eye.svg"); }
noun.accessory-flash { --noun-accessory: url("./traits/2-accessories/accessory-flash.svg"); }
noun.accessory-fries { --noun-accessory: url("./traits/2-accessories/accessory-fries.svg"); }
noun.accessory-glasses-logo-sun { --noun-accessory: url("./traits/2-accessories/accessory-glasses-logo-sun.svg"); }
noun.accessory-glasses-logo { --noun-accessory: url("./traits/2-accessories/accessory-glasses-logo.svg"); }
noun.accessory-glasses { --noun-accessory: url("./traits/2-accessories/accessory-glasses.svg"); }
noun.accessory-grid-simple-bege { --noun-accessory: url("./traits/2-accessories/accessory-grid-simple-bege.svg"); }
noun.accessory-heart { --noun-accessory: url("./traits/2-accessories/accessory-heart.svg"); }
noun.accessory-hoodiestrings-uneven { --noun-accessory: url("./traits/2-accessories/accessory-hoodiestrings-uneven.svg"); }
noun.accessory-id { --noun-accessory: url("./traits/2-accessories/accessory-id.svg"); }
noun.accessory-infinity { --noun-accessory: url("./traits/2-accessories/accessory-infinity.svg"); }
noun.accessory-insignia { --noun-accessory: url("./traits/2-accessories/accessory-insignia.svg"); }
noun.accessory-leaf { --noun-accessory: url("./traits/2-accessories/accessory-leaf.svg"); }
noun.accessory-lightbulb { --noun-accessory: url("./traits/2-accessories/accessory-lightbulb.svg"); }
noun.accessory-lines-45-greens { --noun-accessory: url("./traits/2-accessories/accessory-lines-45-greens.svg"); }
noun.accessory-lines-45-rose { --noun-accessory: url("./traits/2-accessories/accessory-lines-45-rose.svg"); }
noun.accessory-lp { --noun-accessory: url("./traits/2-accessories/accessory-lp.svg"); }
noun.accessory-marsface { --noun-accessory: url("./traits/2-accessories/accessory-marsface.svg"); }
noun.accessory-matrix-white { --noun-accessory: url("./traits/2-accessories/accessory-matrix-white.svg"); }
noun.accessory-moon-block { --noun-accessory: url("./traits/2-accessories/accessory-moon-block.svg"); }
noun.accessory-none { --noun-accessory: url("./traits/2-accessories/accessory-none.svg"); }
noun.accessory-oldshirt { --noun-accessory: url("./traits/2-accessories/accessory-oldshirt.svg"); }
noun.accessory-pizza-bling { --noun-accessory: url("./traits/2-accessories/accessory-pizza-bling.svg"); }
noun.accessory-pocket-pencil { --noun-accessory: url("./traits/2-accessories/accessory-pocket-pencil.svg"); }
noun.accessory-rain { --noun-accessory: url("./traits/2-accessories/accessory-rain.svg"); }
noun.accessory-rainbow-steps { --noun-accessory: url("./traits/2-accessories/accessory-rainbow-steps.svg"); }
noun.accessory-rgb { --noun-accessory: url("./traits/2-accessories/accessory-rgb.svg"); }
noun.accessory-robot { --noun-accessory: url("./traits/2-accessories/accessory-robot.svg"); }
noun.accessory-safety-vest { --noun-accessory: url("./traits/2-accessories/accessory-safety-vest.svg"); }
noun.accessory-scarf-clown { --noun-accessory: url("./traits/2-accessories/accessory-scarf-clown.svg"); }
noun.accessory-secret-x { --noun-accessory: url("./traits/2-accessories/accessory-secret-x.svg"); }
noun.accessory-shirt-black { --noun-accessory: url("./traits/2-accessories/accessory-shirt-black.svg"); }
noun.accessory-shrimp { --noun-accessory: url("./traits/2-accessories/accessory-shrimp.svg"); }
noun.accessory-slimesplat { --noun-accessory: url("./traits/2-accessories/accessory-slimesplat.svg"); }
noun.accessory-small-bling { --noun-accessory: url("./traits/2-accessories/accessory-small-bling.svg"); }
noun.accessory-snowflake { --noun-accessory: url("./traits/2-accessories/accessory-snowflake.svg"); }
noun.accessory-stains-blood { --noun-accessory: url("./traits/2-accessories/accessory-stains-blood.svg"); }
noun.accessory-stains-zombie { --noun-accessory: url("./traits/2-accessories/accessory-stains-zombie.svg"); }
noun.accessory-stripes-and-checks { --noun-accessory: url("./traits/2-accessories/accessory-stripes-and-checks.svg"); }
noun.accessory-stripes-big-red { --noun-accessory: url("./traits/2-accessories/accessory-stripes-big-red.svg"); }
noun.accessory-stripes-blit { --noun-accessory: url("./traits/2-accessories/accessory-stripes-blit.svg"); }
noun.accessory-stripes-blue-med { --noun-accessory: url("./traits/2-accessories/accessory-stripes-blue-med.svg"); }
noun.accessory-stripes-brown { --noun-accessory: url("./traits/2-accessories/accessory-stripes-brown.svg"); }
noun.accessory-stripes-olive { --noun-accessory: url("./traits/2-accessories/accessory-stripes-olive.svg"); }
noun.accessory-stripes-red-cold { --noun-accessory: url("./traits/2-accessories/accessory-stripes-red-cold.svg"); }
noun.accessory-sunset { --noun-accessory: url("./traits/2-accessories/accessory-sunset.svg"); }
noun.accessory-taxi-checkers { --noun-accessory: url("./traits/2-accessories/accessory-taxi-checkers.svg"); }
noun.accessory-tee-yo { --noun-accessory: url("./traits/2-accessories/accessory-tee-yo.svg"); }
noun.accessory-text-yolo { --noun-accessory: url("./traits/2-accessories/accessory-text-yolo.svg"); }
noun.accessory-think { --noun-accessory: url("./traits/2-accessories/accessory-think.svg"); }
noun.accessory-tie-black-on-white { --noun-accessory: url("./traits/2-accessories/accessory-tie-black-on-white.svg"); }
noun.accessory-tie-dye { --noun-accessory: url("./traits/2-accessories/accessory-tie-dye.svg"); }
noun.accessory-tie-purple-on-white { --noun-accessory: url("./traits/2-accessories/accessory-tie-purple-on-white.svg"); }
noun.accessory-tie-red { --noun-accessory: url("./traits/2-accessories/accessory-tie-red.svg"); }
noun.accessory-txt-a2+b2 { --noun-accessory: url("./traits/2-accessories/accessory-txt-a2+b2.svg"); }
noun.accessory-txt-cc { --noun-accessory: url("./traits/2-accessories/accessory-txt-cc.svg"); }
noun.accessory-txt-cc2 { --noun-accessory: url("./traits/2-accessories/accessory-txt-cc2.svg"); }
noun.accessory-txt-copy { --noun-accessory: url("./traits/2-accessories/accessory-txt-copy.svg"); }
noun.accessory-txt-dao-black { --noun-accessory: url("./traits/2-accessories/accessory-txt-dao-black.svg"); }
noun.accessory-txt-doom { --noun-accessory: url("./traits/2-accessories/accessory-txt-doom.svg"); }
noun.accessory-txt-dope-text { --noun-accessory: url("./traits/2-accessories/accessory-txt-dope-text.svg"); }
noun.accessory-txt-foo-black { --noun-accessory: url("./traits/2-accessories/accessory-txt-foo-black.svg"); }
noun.accessory-txt-ico { --noun-accessory: url("./traits/2-accessories/accessory-txt-ico.svg"); }
noun.accessory-txt-io { --noun-accessory: url("./traits/2-accessories/accessory-txt-io.svg"); }
noun.accessory-txt-lmao { --noun-accessory: url("./traits/2-accessories/accessory-txt-lmao.svg"); }
noun.accessory-txt-lol { --noun-accessory: url("./traits/2-accessories/accessory-txt-lol.svg"); }
noun.accessory-txt-mint { --noun-accessory: url("./traits/2-accessories/accessory-txt-mint.svg"); }
noun.accessory-txt-nil-grey-dark { --noun-accessory: url("./traits/2-accessories/accessory-txt-nil-grey-dark.svg"); }
noun.accessory-txt-noun-f0f { --noun-accessory: url("./traits/2-accessories/accessory-txt-noun-f0f.svg"); }
noun.accessory-txt-noun-green { --noun-accessory: url("./traits/2-accessories/accessory-txt-noun-green.svg"); }
noun.accessory-txt-noun-multicolor { --noun-accessory: url("./traits/2-accessories/accessory-txt-noun-multicolor.svg"); }
noun.accessory-txt-noun { --noun-accessory: url("./traits/2-accessories/accessory-txt-noun.svg"); }
noun.accessory-txt-pi { --noun-accessory: url("./traits/2-accessories/accessory-txt-pi.svg"); }
noun.accessory-txt-pop { --noun-accessory: url("./traits/2-accessories/accessory-txt-pop.svg"); }
noun.accessory-txt-rofl { --noun-accessory: url("./traits/2-accessories/accessory-txt-rofl.svg"); }
noun.accessory-txt-we { --noun-accessory: url("./traits/2-accessories/accessory-txt-we.svg"); }
noun.accessory-txt-yay { --noun-accessory: url("./traits/2-accessories/accessory-txt-yay.svg"); }
noun.accessory-wall { --noun-accessory: url("./traits/2-accessories/accessory-wall.svg"); }
noun.accessory-wave { --noun-accessory: url("./traits/2-accessories/accessory-wave.svg"); }
noun.accessory-wet-money { --noun-accessory: url("./traits/2-accessories/accessory-wet-money.svg"); }
noun.accessory-woolweave-bicolor { --noun-accessory: url("./traits/2-accessories/accessory-woolweave-bicolor.svg"); }
noun.accessory-woolweave-dirt { --noun-accessory: url("./traits/2-accessories/accessory-woolweave-dirt.svg"); }
noun.accessory-yingyang { --noun-accessory: url("./traits/2-accessories/accessory-yingyang.svg"); }
noun.accessory-body-bege { --noun-accessory: url("./traits/2-accessories/body-bege.svg"); }
noun.accessory-body-gray-scale-1 { --noun-accessory: url("./traits/2-accessories/body-gray-scale-1.svg"); }
noun.accessory-body-gray-scale-9 { --noun-accessory: url("./traits/2-accessories/body-gray-scale-9.svg"); }
noun.accessory-body-ice-cold { --noun-accessory: url("./traits/2-accessories/body-ice-cold.svg"); }

/* HEADS
================================== */
noun.head-aardvark:before { --noun-head: url("./traits/3-heads/head-aardvark.svg"); }
noun.head-abstract:before { --noun-head: url("./traits/3-heads/head-abstract.svg"); }
noun.head-ape:before { --noun-head: url("./traits/3-heads/head-ape.svg"); }
noun.head-bag:before { --noun-head: url("./traits/3-heads/head-bag.svg"); }
noun.head-bagpipe:before { --noun-head: url("./traits/3-heads/head-bagpipe.svg"); }
noun.head-banana:before { --noun-head: url("./traits/3-heads/head-banana.svg"); }
noun.head-bank:before { --noun-head: url("./traits/3-heads/head-bank.svg"); }
noun.head-baseball-gameball:before { --noun-head: url("./traits/3-heads/head-baseball-gameball.svg"); }
noun.head-basketball:before { --noun-head: url("./traits/3-heads/head-basketball.svg"); }
noun.head-bat:before { --noun-head: url("./traits/3-heads/head-bat.svg"); }
noun.head-bear:before { --noun-head: url("./traits/3-heads/head-bear.svg"); }
noun.head-beer:before { --noun-head: url("./traits/3-heads/head-beer.svg"); }
noun.head-beet:before { --noun-head: url("./traits/3-heads/head-beet.svg"); }
noun.head-bell:before { --noun-head: url("./traits/3-heads/head-bell.svg"); }
noun.head-bigfoot-yeti:before { --noun-head: url("./traits/3-heads/head-bigfoot-yeti.svg"); }
noun.head-bigfoot:before { --noun-head: url("./traits/3-heads/head-bigfoot.svg"); }
noun.head-blackhole:before { --noun-head: url("./traits/3-heads/head-blackhole.svg"); }
noun.head-blueberry:before { --noun-head: url("./traits/3-heads/head-blueberry.svg"); }
noun.head-bomb:before { --noun-head: url("./traits/3-heads/head-bomb.svg"); }
noun.head-bonsai:before { --noun-head: url("./traits/3-heads/head-bonsai.svg"); }
noun.head-boombox:before { --noun-head: url("./traits/3-heads/head-boombox.svg"); }
noun.head-boot:before { --noun-head: url("./traits/3-heads/head-boot.svg"); }
noun.head-box:before { --noun-head: url("./traits/3-heads/head-box.svg"); }
noun.head-boxingglove:before { --noun-head: url("./traits/3-heads/head-boxingglove.svg"); }
noun.head-brain:before { --noun-head: url("./traits/3-heads/head-brain.svg"); }
noun.head-bubble-speech:before { --noun-head: url("./traits/3-heads/head-bubble-speech.svg"); }
noun.head-bubblegum:before { --noun-head: url("./traits/3-heads/head-bubblegum.svg"); }
noun.head-burger-dollarmenu:before { --noun-head: url("./traits/3-heads/head-burger-dollarmenu.svg"); }
noun.head-cake:before { --noun-head: url("./traits/3-heads/head-cake.svg"); }
noun.head-calculator:before { --noun-head: url("./traits/3-heads/head-calculator.svg"); }
noun.head-calendar:before { --noun-head: url("./traits/3-heads/head-calendar.svg"); }
noun.head-camcorder:before { --noun-head: url("./traits/3-heads/head-camcorder.svg"); }
noun.head-cannedham:before { --noun-head: url("./traits/3-heads/head-cannedham.svg"); }
noun.head-car:before { --noun-head: url("./traits/3-heads/head-car.svg"); }
noun.head-cash-register:before { --noun-head: url("./traits/3-heads/head-cash-register.svg"); }
noun.head-cassettetape:before { --noun-head: url("./traits/3-heads/head-cassettetape.svg"); }
noun.head-cat:before { --noun-head: url("./traits/3-heads/head-cat.svg"); }
noun.head-cd:before { --noun-head: url("./traits/3-heads/head-cd.svg"); }
noun.head-chain:before { --noun-head: url("./traits/3-heads/head-chain.svg"); }
noun.head-chainsaw:before { --noun-head: url("./traits/3-heads/head-chainsaw.svg"); }
noun.head-chameleon:before { --noun-head: url("./traits/3-heads/head-chameleon.svg"); }
noun.head-chart-bars:before { --noun-head: url("./traits/3-heads/head-chart-bars.svg"); }
noun.head-cheese:before { --noun-head: url("./traits/3-heads/head-cheese.svg"); }
noun.head-chefhat:before { --noun-head: url("./traits/3-heads/head-chefhat.svg"); }
noun.head-cherry:before { --noun-head: url("./traits/3-heads/head-cherry.svg"); }
noun.head-chicken:before { --noun-head: url("./traits/3-heads/head-chicken.svg"); }
noun.head-chilli:before { --noun-head: url("./traits/3-heads/head-chilli.svg"); }
noun.head-chipboard:before { --noun-head: url("./traits/3-heads/head-chipboard.svg"); }
noun.head-chips:before { --noun-head: url("./traits/3-heads/head-chips.svg"); }
noun.head-chocolate:before { --noun-head: url("./traits/3-heads/head-chocolate.svg"); }
noun.head-cloud:before { --noun-head: url("./traits/3-heads/head-cloud.svg"); }
noun.head-clover:before { --noun-head: url("./traits/3-heads/head-clover.svg"); }
noun.head-clutch:before { --noun-head: url("./traits/3-heads/head-clutch.svg"); }
noun.head-coffeebean:before { --noun-head: url("./traits/3-heads/head-coffeebean.svg"); }
noun.head-cone:before { --noun-head: url("./traits/3-heads/head-cone.svg"); }
noun.head-console-handheld:before { --noun-head: url("./traits/3-heads/head-console-handheld.svg"); }
noun.head-cookie:before { --noun-head: url("./traits/3-heads/head-cookie.svg"); }
noun.head-cordlessphone:before { --noun-head: url("./traits/3-heads/head-cordlessphone.svg"); }
noun.head-cottonball:before { --noun-head: url("./traits/3-heads/head-cottonball.svg"); }
noun.head-cow:before { --noun-head: url("./traits/3-heads/head-cow.svg"); }
noun.head-crab:before { --noun-head: url("./traits/3-heads/head-crab.svg"); }
noun.head-crane:before { --noun-head: url("./traits/3-heads/head-crane.svg"); }
noun.head-croc-hat:before { --noun-head: url("./traits/3-heads/head-croc-hat.svg"); }
noun.head-crown:before { --noun-head: url("./traits/3-heads/head-crown.svg"); }
noun.head-crt-bsod:before { --noun-head: url("./traits/3-heads/head-crt-bsod.svg"); }
noun.head-crystalball:before { --noun-head: url("./traits/3-heads/head-crystalball.svg"); }
noun.head-diamond-blue:before { --noun-head: url("./traits/3-heads/head-diamond-blue.svg"); }
noun.head-diamond-red:before { --noun-head: url("./traits/3-heads/head-diamond-red.svg"); }
noun.head-dictionary:before { --noun-head: url("./traits/3-heads/head-dictionary.svg"); }
noun.head-dino:before { --noun-head: url("./traits/3-heads/head-dino.svg"); }
noun.head-dna:before { --noun-head: url("./traits/3-heads/head-dna.svg"); }
noun.head-dog:before { --noun-head: url("./traits/3-heads/head-dog.svg"); }
noun.head-doughnut:before { --noun-head: url("./traits/3-heads/head-doughnut.svg"); }
noun.head-drill:before { --noun-head: url("./traits/3-heads/head-drill.svg"); }
noun.head-duck:before { --noun-head: url("./traits/3-heads/head-duck.svg"); }
noun.head-ducky:before { --noun-head: url("./traits/3-heads/head-ducky.svg"); }
noun.head-earth:before { --noun-head: url("./traits/3-heads/head-earth.svg"); }
noun.head-egg:before { --noun-head: url("./traits/3-heads/head-egg.svg"); }
noun.head-faberge:before { --noun-head: url("./traits/3-heads/head-faberge.svg"); }
noun.head-factory-dark:before { --noun-head: url("./traits/3-heads/head-factory-dark.svg"); }
noun.head-fan:before { --noun-head: url("./traits/3-heads/head-fan.svg"); }
noun.head-fence:before { --noun-head: url("./traits/3-heads/head-fence.svg"); }
noun.head-film-35mm:before { --noun-head: url("./traits/3-heads/head-film-35mm.svg"); }
noun.head-film-strip:before { --noun-head: url("./traits/3-heads/head-film-strip.svg"); }
noun.head-fir:before { --noun-head: url("./traits/3-heads/head-fir.svg"); }
noun.head-firehydrant:before { --noun-head: url("./traits/3-heads/head-firehydrant.svg"); }
noun.head-flamingo:before { --noun-head: url("./traits/3-heads/head-flamingo.svg"); }
noun.head-flower:before { --noun-head: url("./traits/3-heads/head-flower.svg"); }
noun.head-fox:before { --noun-head: url("./traits/3-heads/head-fox.svg"); }
noun.head-frog:before { --noun-head: url("./traits/3-heads/head-frog.svg"); }
noun.head-garlic:before { --noun-head: url("./traits/3-heads/head-garlic.svg"); }
noun.head-gavel:before { --noun-head: url("./traits/3-heads/head-gavel.svg"); }
noun.head-ghost-B:before { --noun-head: url("./traits/3-heads/head-ghost-B.svg"); }
noun.head-glasses-big:before { --noun-head: url("./traits/3-heads/head-glasses-big.svg"); }
noun.head-gnome:before { --noun-head: url("./traits/3-heads/head-gnome.svg"); }
noun.head-goat:before { --noun-head: url("./traits/3-heads/head-goat.svg"); }
noun.head-goldcoin:before { --noun-head: url("./traits/3-heads/head-goldcoin.svg"); }
noun.head-goldfish:before { --noun-head: url("./traits/3-heads/head-goldfish.svg"); }
noun.head-grouper:before { --noun-head: url("./traits/3-heads/head-grouper.svg"); }
noun.head-hair:before { --noun-head: url("./traits/3-heads/head-hair.svg"); }
noun.head-hardhat:before { --noun-head: url("./traits/3-heads/head-hardhat.svg"); }
noun.head-heart:before { --noun-head: url("./traits/3-heads/head-heart.svg"); }
noun.head-helicopter:before { --noun-head: url("./traits/3-heads/head-helicopter.svg"); }
noun.head-highheel:before { --noun-head: url("./traits/3-heads/head-highheel.svg"); }
noun.head-hockeypuck:before { --noun-head: url("./traits/3-heads/head-hockeypuck.svg"); }
noun.head-horse-deepfried:before { --noun-head: url("./traits/3-heads/head-horse-deepfried.svg"); }
noun.head-hotdog:before { --noun-head: url("./traits/3-heads/head-hotdog.svg"); }
noun.head-house:before { --noun-head: url("./traits/3-heads/head-house.svg"); }
noun.head-icepop-b:before { --noun-head: url("./traits/3-heads/head-icepop-b.svg"); }
noun.head-igloo:before { --noun-head: url("./traits/3-heads/head-igloo.svg"); }
noun.head-island:before { --noun-head: url("./traits/3-heads/head-island.svg"); }
noun.head-jellyfish:before { --noun-head: url("./traits/3-heads/head-jellyfish.svg"); }
noun.head-jupiter:before { --noun-head: url("./traits/3-heads/head-jupiter.svg"); }
noun.head-kangaroo:before { --noun-head: url("./traits/3-heads/head-kangaroo.svg"); }
noun.head-ketchup:before { --noun-head: url("./traits/3-heads/head-ketchup.svg"); }
noun.head-laptop:before { --noun-head: url("./traits/3-heads/head-laptop.svg"); }
noun.head-lightning-bolt:before { --noun-head: url("./traits/3-heads/head-lightning-bolt.svg"); }
noun.head-lint:before { --noun-head: url("./traits/3-heads/head-lint.svg"); }
noun.head-lips:before { --noun-head: url("./traits/3-heads/head-lips.svg"); }
noun.head-lipstick2:before { --noun-head: url("./traits/3-heads/head-lipstick2.svg"); }
noun.head-lock:before { --noun-head: url("./traits/3-heads/head-lock.svg"); }
noun.head-macaroni:before { --noun-head: url("./traits/3-heads/head-macaroni.svg"); }
noun.head-mailbox:before { --noun-head: url("./traits/3-heads/head-mailbox.svg"); }
noun.head-maze:before { --noun-head: url("./traits/3-heads/head-maze.svg"); }
noun.head-microwave:before { --noun-head: url("./traits/3-heads/head-microwave.svg"); }
noun.head-milk:before { --noun-head: url("./traits/3-heads/head-milk.svg"); }
noun.head-mirror:before { --noun-head: url("./traits/3-heads/head-mirror.svg"); }
noun.head-mixer:before { --noun-head: url("./traits/3-heads/head-mixer.svg"); }
noun.head-moon:before { --noun-head: url("./traits/3-heads/head-moon.svg"); }
noun.head-moose:before { --noun-head: url("./traits/3-heads/head-moose.svg"); }
noun.head-mosquito:before { --noun-head: url("./traits/3-heads/head-mosquito.svg"); }
noun.head-mountain-snowcap:before { --noun-head: url("./traits/3-heads/head-mountain-snowcap.svg"); }
noun.head-mouse:before { --noun-head: url("./traits/3-heads/head-mouse.svg"); }
noun.head-mug:before { --noun-head: url("./traits/3-heads/head-mug.svg"); }
noun.head-mushroom:before { --noun-head: url("./traits/3-heads/head-mushroom.svg"); }
noun.head-mustard:before { --noun-head: url("./traits/3-heads/head-mustard.svg"); }
noun.head-nigiri:before { --noun-head: url("./traits/3-heads/head-nigiri.svg"); }
noun.head-noodles:before { --noun-head: url("./traits/3-heads/head-noodles.svg"); }
noun.head-onion:before { --noun-head: url("./traits/3-heads/head-onion.svg"); }
noun.head-orangutan:before { --noun-head: url("./traits/3-heads/head-orangutan.svg"); }
noun.head-orca:before { --noun-head: url("./traits/3-heads/head-orca.svg"); }
noun.head-otter:before { --noun-head: url("./traits/3-heads/head-otter.svg"); }
noun.head-outlet:before { --noun-head: url("./traits/3-heads/head-outlet.svg"); }
noun.head-owl:before { --noun-head: url("./traits/3-heads/head-owl.svg"); }
noun.head-oyster:before { --noun-head: url("./traits/3-heads/head-oyster.svg"); }
noun.head-paintbrush:before { --noun-head: url("./traits/3-heads/head-paintbrush.svg"); }
noun.head-panda:before { --noun-head: url("./traits/3-heads/head-panda.svg"); }
noun.head-paperclip:before { --noun-head: url("./traits/3-heads/head-paperclip.svg"); }
noun.head-peanut:before { --noun-head: url("./traits/3-heads/head-peanut.svg"); }
noun.head-pencil-tip:before { --noun-head: url("./traits/3-heads/head-pencil-tip.svg"); }
noun.head-peyote:before { --noun-head: url("./traits/3-heads/head-peyote.svg"); }
noun.head-piano:before { --noun-head: url("./traits/3-heads/head-piano.svg"); }
noun.head-pickle:before { --noun-head: url("./traits/3-heads/head-pickle.svg"); }
noun.head-pie:before { --noun-head: url("./traits/3-heads/head-pie.svg"); }
noun.head-piggybank:before { --noun-head: url("./traits/3-heads/head-piggybank.svg"); }
noun.head-pill:before { --noun-head: url("./traits/3-heads/head-pill.svg"); }
noun.head-pillow:before { --noun-head: url("./traits/3-heads/head-pillow.svg"); }
noun.head-pineapple:before { --noun-head: url("./traits/3-heads/head-pineapple.svg"); }
noun.head-pipe:before { --noun-head: url("./traits/3-heads/head-pipe.svg"); }
noun.head-pirateship:before { --noun-head: url("./traits/3-heads/head-pirateship.svg"); }
noun.head-pizza:before { --noun-head: url("./traits/3-heads/head-pizza.svg"); }
noun.head-plane:before { --noun-head: url("./traits/3-heads/head-plane.svg"); }
noun.head-pop:before { --noun-head: url("./traits/3-heads/head-pop.svg"); }
noun.head-porkbao:before { --noun-head: url("./traits/3-heads/head-porkbao.svg"); }
noun.head-potato:before { --noun-head: url("./traits/3-heads/head-potato.svg"); }
noun.head-pufferfish:before { --noun-head: url("./traits/3-heads/head-pufferfish.svg"); }
noun.head-pumpkin:before { --noun-head: url("./traits/3-heads/head-pumpkin.svg"); }
noun.head-pyramid:before { --noun-head: url("./traits/3-heads/head-pyramid.svg"); }
noun.head-queencrown:before { --noun-head: url("./traits/3-heads/head-queencrown.svg"); }
noun.head-rabbit:before { --noun-head: url("./traits/3-heads/head-rabbit.svg"); }
noun.head-rainbow:before { --noun-head: url("./traits/3-heads/head-rainbow.svg"); }
noun.head-rangefinder:before { --noun-head: url("./traits/3-heads/head-rangefinder.svg"); }
noun.head-raven:before { --noun-head: url("./traits/3-heads/head-raven.svg"); }
noun.head-retainer:before { --noun-head: url("./traits/3-heads/head-retainer.svg"); }
noun.head-rgb:before { --noun-head: url("./traits/3-heads/head-rgb.svg"); }
noun.head-ring:before { --noun-head: url("./traits/3-heads/head-ring.svg"); }
noun.head-road:before { --noun-head: url("./traits/3-heads/head-road.svg"); }
noun.head-robot:before { --noun-head: url("./traits/3-heads/head-robot.svg"); }
noun.head-rock:before { --noun-head: url("./traits/3-heads/head-rock.svg"); }
noun.head-rosebud:before { --noun-head: url("./traits/3-heads/head-rosebud.svg"); }
noun.head-ruler-triangular:before { --noun-head: url("./traits/3-heads/head-ruler-triangular.svg"); }
noun.head-saguaro:before { --noun-head: url("./traits/3-heads/head-saguaro.svg"); }
noun.head-sailboat:before { --noun-head: url("./traits/3-heads/head-sailboat.svg"); }
noun.head-sandwich:before { --noun-head: url("./traits/3-heads/head-sandwich.svg"); }
noun.head-saturn:before { --noun-head: url("./traits/3-heads/head-saturn.svg"); }
noun.head-saw:before { --noun-head: url("./traits/3-heads/head-saw.svg"); }
noun.head-scorpion:before { --noun-head: url("./traits/3-heads/head-scorpion.svg"); }
noun.head-shark:before { --noun-head: url("./traits/3-heads/head-shark.svg"); }
noun.head-shower:before { --noun-head: url("./traits/3-heads/head-shower.svg"); }
noun.head-skateboard:before { --noun-head: url("./traits/3-heads/head-skateboard.svg"); }
noun.head-skeleton-hat:before { --noun-head: url("./traits/3-heads/head-skeleton-hat.svg"); }
noun.head-skilift:before { --noun-head: url("./traits/3-heads/head-skilift.svg"); }
noun.head-smile:before { --noun-head: url("./traits/3-heads/head-smile.svg"); }
noun.head-snowglobe:before { --noun-head: url("./traits/3-heads/head-snowglobe.svg"); }
noun.head-snowmobile:before { --noun-head: url("./traits/3-heads/head-snowmobile.svg"); }
noun.head-spaghetti:before { --noun-head: url("./traits/3-heads/head-spaghetti.svg"); }
noun.head-sponge:before { --noun-head: url("./traits/3-heads/head-sponge.svg"); }
noun.head-squid:before { --noun-head: url("./traits/3-heads/head-squid.svg"); }
noun.head-stapler:before { --noun-head: url("./traits/3-heads/head-stapler.svg"); }
noun.head-star-sparkles:before { --noun-head: url("./traits/3-heads/head-star-sparkles.svg"); }
noun.head-steak:before { --noun-head: url("./traits/3-heads/head-steak.svg"); }
noun.head-sunset:before { --noun-head: url("./traits/3-heads/head-sunset.svg"); }
noun.head-taco-classic:before { --noun-head: url("./traits/3-heads/head-taco-classic.svg"); }
noun.head-taxi:before { --noun-head: url("./traits/3-heads/head-taxi.svg"); }
noun.head-thumbsup:before { --noun-head: url("./traits/3-heads/head-thumbsup.svg"); }
noun.head-toaster:before { --noun-head: url("./traits/3-heads/head-toaster.svg"); }
noun.head-toiletpaper-full:before { --noun-head: url("./traits/3-heads/head-toiletpaper-full.svg"); }
noun.head-tooth:before { --noun-head: url("./traits/3-heads/head-tooth.svg"); }
noun.head-toothbrush-fresh:before { --noun-head: url("./traits/3-heads/head-toothbrush-fresh.svg"); }
noun.head-tornado:before { --noun-head: url("./traits/3-heads/head-tornado.svg"); }
noun.head-trashcan:before { --noun-head: url("./traits/3-heads/head-trashcan.svg"); }
noun.head-turing:before { --noun-head: url("./traits/3-heads/head-turing.svg"); }
noun.head-ufo:before { --noun-head: url("./traits/3-heads/head-ufo.svg"); }
noun.head-undead:before { --noun-head: url("./traits/3-heads/head-undead.svg"); }
noun.head-unicorn:before { --noun-head: url("./traits/3-heads/head-unicorn.svg"); }
noun.head-vent:before { --noun-head: url("./traits/3-heads/head-vent.svg"); }
noun.head-void:before { --noun-head: url("./traits/3-heads/head-void.svg"); }
noun.head-volcano:before { --noun-head: url("./traits/3-heads/head-volcano.svg"); }
noun.head-volleyball:before { --noun-head: url("./traits/3-heads/head-volleyball.svg"); }
noun.head-wall:before { --noun-head: url("./traits/3-heads/head-wall.svg"); }
noun.head-wallet:before { --noun-head: url("./traits/3-heads/head-wallet.svg"); }
noun.head-wallsafe:before { --noun-head: url("./traits/3-heads/head-wallsafe.svg"); }
noun.head-washingmachine:before { --noun-head: url("./traits/3-heads/head-washingmachine.svg"); }
noun.head-watch:before { --noun-head: url("./traits/3-heads/head-watch.svg"); }
noun.head-watermelon:before { --noun-head: url("./traits/3-heads/head-watermelon.svg"); }
noun.head-wave:before { --noun-head: url("./traits/3-heads/head-wave.svg"); }
noun.head-weed:before { --noun-head: url("./traits/3-heads/head-weed.svg"); }
noun.head-weight:before { --noun-head: url("./traits/3-heads/head-weight.svg"); }
noun.head-werewolf:before { --noun-head: url("./traits/3-heads/head-werewolf.svg"); }
noun.head-whale-alive:before { --noun-head: url("./traits/3-heads/head-whale-alive.svg"); }
noun.head-whale:before { --noun-head: url("./traits/3-heads/head-whale.svg"); }
noun.head-wine:before { --noun-head: url("./traits/3-heads/head-wine.svg"); }
noun.head-wizardhat:before { --noun-head: url("./traits/3-heads/head-wizardhat.svg"); }
noun.head-zebra:before { --noun-head: url("./traits/3-heads/head-zebra.svg"); }

/* GLASSES
================================== */
noun.glasses-hip-rose:before { --noun-glasses: url("./traits/4-glasses/glasses-hip-rose.svg"); }
noun.glasses-square-black-eyes-red:before { --noun-glasses: url("./traits/4-glasses/glasses-square-black-eyes-red.svg"); }
noun.glasses-square-black-rgb:before { --noun-glasses: url("./traits/4-glasses/glasses-square-black-rgb.svg"); }
noun.glasses-square-black:before { --noun-glasses: url("./traits/4-glasses/glasses-square-black.svg"); }
noun.glasses-square-blue-med-saturated:before { --noun-glasses: url("./traits/4-glasses/glasses-square-blue-med-saturated.svg"); }
noun.glasses-square-blue:before { --noun-glasses: url("./traits/4-glasses/glasses-square-blue.svg"); }
noun.glasses-square-frog-green:before { --noun-glasses: url("./traits/4-glasses/glasses-square-frog-green.svg"); }
noun.glasses-square-fullblack:before { --noun-glasses: url("./traits/4-glasses/glasses-square-fullblack.svg"); }
noun.glasses-square-green-blue-multi:before { --noun-glasses: url("./traits/4-glasses/glasses-square-green-blue-multi.svg"); }
noun.glasses-square-grey-light:before { --noun-glasses: url("./traits/4-glasses/glasses-square-grey-light.svg"); }
noun.glasses-square-guava:before { --noun-glasses: url("./traits/4-glasses/glasses-square-guava.svg"); }
noun.glasses-square-honey:before { --noun-glasses: url("./traits/4-glasses/glasses-square-honey.svg"); }
noun.glasses-square-magenta:before { --noun-glasses: url("./traits/4-glasses/glasses-square-magenta.svg"); }
noun.glasses-square-orange:before { --noun-glasses: url("./traits/4-glasses/glasses-square-orange.svg"); }
noun.glasses-square-pink-purple-multi:before { --noun-glasses: url("./traits/4-glasses/glasses-square-pink-purple-multi.svg"); }
noun.glasses-square-red:before { --noun-glasses: url("./traits/4-glasses/glasses-square-red.svg"); }
noun.glasses-square-smoke:before { --noun-glasses: url("./traits/4-glasses/glasses-square-smoke.svg"); }
noun.glasses-square-teal:before { --noun-glasses: url("./traits/4-glasses/glasses-square-teal.svg"); }
noun.glasses-square-watermelon:before { --noun-glasses: url("./traits/4-glasses/glasses-square-watermelon.svg"); }
noun.glasses-square-yellow-orange-multi:before { --noun-glasses: url("./traits/4-glasses/glasses-square-yellow-orange-multi.svg"); }
noun.glasses-square-yellow-saturated:before { --noun-glasses: url("./traits/4-glasses/glasses-square-yellow-saturated.svg"); }
